* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./Images/golfbackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    padding: 15px;
}

.nav-wrapper {
    background: linear-gradient(0.25turn, #fffffff5, darkolivegreen);
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 80px;
    line-height: 64px;
}

#logo_two {
    width: 70px;
    height: auto;
}

#logo_two_sn {
    width: 60px;
    height: auto;
}

.card {
    color: white;
    background-size: cover;
}

.sidenav {
    background: linear-gradient(0.25turn, #fffffff5, rgb(165, 170, 157));
    padding: 10px;
}

.hero_image {
    height: 50rem;
    background-image: url("https://cdn.pixabay.com/photo/2017/09/06/20/41/labor-day-2722962_960_720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_text {
    display: inline-flex;
    text-align: center;
    position: absolute;
    color:black;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#search {
    background-color: white;
    border: black solid 1px;
    border-radius: 3px;
    text-align: center;
    margin: 0px
}

.card-head {
    font-size: 50px;
    
}

.card {
    margin: 0;
}
.card-body {
    font-size: x-large;
    font-weight: bolder;
}

#favorite_button {
    text-align: center;
    position: absolute;
    color:black;
    top:57%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 200px;
}

.about_section {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

.contact_section {
    text-align: center;
    align-content: center;
}

.avatar {
    vertical-align: middle;
    width: 3rem;
    height: auto;
    border-radius: 50%;
}

.page-footer {
    background: none;
    text-align: center;
    color: black;
    /* padding: 0px 10px; */
}

ul#horizontal-list {
	list-style: none;
	padding-top: 20px;
}

ul#horizontal-list li {
	display: inline-block;
    text-align: center;
}

.footer-copyright {
    padding: 0px 10px;
}

.footer-copyright-container {
    color: rgb(71, 70, 70);
    text-align: left;
    font-size: 10px;
    padding: 0px 10px;
}

#logo_footer {
    height: 2rem;
    width: auto;
}

/* Adding CSS/attempting to add CSS to the golfCourse attributes */

.city-title {
    font-size: xx-large;
    text-align: center;
    color: white;
    background-color: darkolivegreen;
}

.city-courses {
    font-size: large;
    font-weight: bolder;
    text-align: left;
    color: darkolivegreen;
    grid-area: b;
}

.course-address {
    font-size: small;
    text-align: left;
    color: darkolivegreen;
    grid-area: c;
}

#saved-container{
    background-color: transparent;
    z-index: 1;
    overflow-y: auto;
    height: 200px;
}

.line-body {
    text-align: center;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "a b b b"
    "a c c c"
    "a d d d";
}

.line.m6 {
    background-color: white;
    padding: 15px;
}

.col.s12.m6.l6 {
    padding: 20px;
}

button.save-btn {
    font-size: 22.5px;
    color: white;
    background-color: lightgray;
    border: grey;
    -webkit-text-stroke: 1px black;
}

img.course-photo {
    height: 100px;
    width: 100px;
    grid-area: a;
}

.course-phone {
    font-size: small;
    text-align: left;
    color: darkolivegreen;
    grid-area: d;
}

.sidenav li>a {
    color: darkolivegreen;
    /* display: block; */
    font-size: 30px;
    /* font-weight: 500; */
    height: 30px;
    line-height: 60px;
    padding: 10px;
    /* text-align: left; */
    /* justify-content: center; */
}

.save-btn:hover{
    cursor: pointer;
    box-shadow: 0 0.5rem 1.4rem 0 darkolivegreen;
    transition: transform 150ms;
    transform: scale(1.1);
}

@media only screen and (min-width: 993px) {

    .row .col.offset-l2 {
        margin: 0;
    }

    .about_section {
        max-width: 50%;
        margin: 0 auto;
        text-align: center;
        align-content: center;
    }
}

@media only screen and (max-width: 993px) {
    
    .nav-wrapper {
        padding-top: 15px;
        background:#dbecc7f5;
    }

    #logo_one {
        width: 200px;
        height: auto;
        justify-content: center;
    }

    #logo_two {
        display:none;
    }
}