* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./golfbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-wrapper {
    background: linear-gradient(0.25turn, #fffffff5, #114202f5);
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 80px;
    line-height: 64px;
}

#logo_two {
    width: 70px;
    height: auto;
}

#logo_two_sn {
    width: 60px;
    height: auto;
}

* .card {
    color: white;
    background-size: cover;
}

.sidenav {
    background: linear-gradient(0.25turn, #fffffff5, #114202f5);
}

.hero_image {
    height: 50rem;
    background-image: url("./cat\ image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_text {
    display: inline-flex;
    text-align: center;
    position: absolute;
    color:black;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#search {
    background-color: white;
    border: black solid 1px;
    border-radius: 3px;
    text-align: center;
    margin: 0px
}

.card-head {
    font-size: 50px;
    
}

.card-body {
    font-size: x-large;
    font-weight: bolder;
}

#favorite_button {
    text-align: center;
    position: absolute;
    color:black;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 200px;
}

.about_section,
.contact_section {
    text-align: center;
}

@media only screen and (max-width: 993px) {
    
    .nav-wrapper {
        background:#dbecc7f5;
    }

    #logo_one {
        width: 200px;
        height: auto;
        justify-content: center;
    }
    #logo_two {
        display:none
    }
}

/* Adding CSS/attempting to add CSS to the golfCourse attributes */

.city-title{
    font-size: xx-large;
    text-align: center;
    color: darkgreen;
}

.city-courses{
    font-size: medium;
    text-align: center;
    color: rgb(58, 126, 58);
}

.course-address{
    font-size: small;
    text-align: center;
    color: darkolivegreen;
}