* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./Images/golfbackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-wrapper {
    background: linear-gradient(0.25turn, #fffffff5, darkolivegreen);
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 80px;
    line-height: 64px;
}

#logo_two {
    width: 70px;
    height: auto;
}

#logo_two_sn {
    width: 60px;
    height: auto;
}

* .card {
    color: white;
    background-size: cover;
}

.sidenav {
    background: linear-gradient(0.25turn, #fffffff5, rgb(165, 170, 157));
    padding: 10px;
}

.hero_image {
    height: 50rem;
    background-image: url("https://cdn.pixabay.com/photo/2017/09/06/20/41/labor-day-2722962_960_720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_text {
    display: inline-flex;
    text-align: center;
    position: absolute;
    color:black;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#search {
    background-color: white;
    border: black solid 1px;
    border-radius: 3px;
    text-align: center;
    margin: 0px
}

.card-head {
    font-size: 50px;
    
}

.card-body {
    font-size: x-large;
    font-weight: bolder;
}

#favorite_button {
    text-align: center;
    position: absolute;
    color:black;
    top:57%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 200px;
}

.about_section,
.contact_section {
    text-align: center;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.page-footer {
    background: none;
    text-align: center;
    color: black;
}

ul#horizontal-list {
	list-style: none;
	padding-top: 20px;
}

ul#horizontal-list li {
	display: inline-block;
    text-align: center;
}

.footer-copyright-container {
    color: rgb(71, 70, 70);
    text-align: left;
}

/* Adding CSS/attempting to add CSS to the golfCourse attributes */

.city-title{
    font-size: xx-large;
    text-align: center;
    color: darkgreen;
}

.city-courses{
    font-size: medium;
    text-align: center;
    color: rgb(58, 126, 58);
}

.course-address{
    font-size: small;
    text-align: center;
    color: darkolivegreen;
}

@media only screen and (min-width: 993px) {

        .row .col.offset-l2 {
        margin: 0;
    }
}

@media only screen and (max-width: 993px) {
    
    .nav-wrapper {
        padding-top: 15px;
        background:#dbecc7f5;
    }

    #logo_one {
        width: 200px;
        height: auto;
        justify-content: center;
    }

    #logo_two {
        display:none;
    }
}

#saved-container{
    background-color: transparent;
    z-index: 1;
    overflow: scroll;
    height: 200px;
}
